.navContainer {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    li,
    a {
      color: var(--color);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      transition: color 0.3s;
      cursor: pointer;
      height: 100%;
      height: 30px;
    }
  }

  li:hover {
    color: #25b8fe;
  }
  &__options {
    cursor: pointer;
    position: relative;
    &--theme {
      position: absolute;
      padding: 10px 20px;
      right: 0;
      display: none;
      opacity: 0;
      top: 100%;
      background-color: var(--color);
      color: var(--background-color);
      transition: opacity 0.3s;
    }
  }
  &__options:hover &__options--theme {
    display: block;
    opacity: 1;
    animation: showmenu 0.5s forwards linear;
  }
}

.menuItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.menuItem {
    ::before {
      content: '';
      position: absolute;
      width: 120%;
      height: 120px;
      background-color: transparent;
    }
  }
  &__dropdown {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 119px;
    background-color: var(--background-color-menu);
    padding: 38px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    list-style: none;
    justify-content: center;
    transition: 0.3s;
    opacity: 1;
    visibility: hidden;
    animation: showmenu 0.5s forwards linear;
    div {
      a {
        color: var(--color);
      }
    }
  }
  &__dropdown::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px; /* Reguluj wysokość cienia tutaj */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    box-shadow: 0 0 1px var(--color);
  }
}

.link {
  position: relative;
}

.link,
.link::after,
.link::before {
  transition: 0.3s;
}
.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #25b8fe;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media only screen and (max-width: 1024px) {
  .navContainer {
    display: none;
  }
}
@keyframes showmenu {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
