*,
html {
  margin: 0;
  padding: 0;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  font-family: 'Bai Jamjuree', sans-serif;
}
a {
  text-decoration: none;
  color: var(--color);
}
ul {
  list-style: none;
}

:root {
  --background-color: rgb(68, 73, 80);
  --logo-hover: rgba(255, 255, 255, 0.4);
  --color: rgb(236, 236, 241);
  --nav-border: rgba(217, 217, 217, 0.3);
  --background-color-menu: rgb(48, 52, 58);
}
.dark {
  --background-color: rgb(68, 73, 80);
  --logo-hover: rgba(255, 255, 255, 0.4);
  --color: rgb(236, 236, 241);
  --nav-border: rgba(217, 217, 217, 0.3);
  --background-color-menu: rgb(48, 52, 58);
}
.light {
  --background-color: rgb(241, 236, 236);
  --logo-hover: rgba(53, 52, 52, 0.4);
  --color: rgba(52, 53, 65);
  --nav-border: rgba(34, 30, 30, 0.116);
  --background-color-menu: rgb(242, 242, 242);
}
