.container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  padding: 0 35px;
  height: 100%;
  left: 50%;
  transform: translate(-50%);

  &__logoBox {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;

    a {
      height: 100%;
      img {
        width: 300px;
        height: 100%;
      }
    }
  }

  &__actionBox {
    position: relative;
    font-size: 1.2em;
  }
}
.mobileNavContainer {
  &__burgerBox {
    display: none;
    padding: 10px 20px;
    font-size: 1.2em;
    color: var(--color);
    div {
      padding: 10px 10px;
    }
  }
}


@media only screen and (max-width: 1024px) {
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__logoBox {
      background-position: center;
      a {
        height: 100%;
        img {
          width: 200px;
          height: 100%;
        }
      }
    }
  }
  .mobileNavContainer {
    &__burgerBox {
      display: flex;
    }
  }
}
